
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/adminlte/css/AdminLTE.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/Content/scripts/jQuery-2.2.0.min.js"></script>
    <script src="~/Content/scripts/jquery.validate.min.js"></script>
    <script src="~/Content/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>

    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/exporting.js"></script>
    <script src="~/Content/plugins/highcharts/highcharts-3d.js"></script>
    <script src="~/Content/scripts/prediction-chart.js"></script>
</body>
</html>
