
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-6" style="margin-bottom: 10px">
        <div id="getDailyStatusTotalNumberReportChart" style="-moz-min-width: 310px; -ms-min-width: 310px; -o-min-width: 310px; -webkit-min-width: 310px; min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
        <div id="getNonTransferredRecordReportChart" style="-moz-min-width: 310px; -ms-min-width: 310px; -o-min-width: 310px; -webkit-min-width: 310px; min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
        <div id="getTotalCountByShipmentMethodReportChart" style="-moz-min-width: 310px; -ms-min-width: 310px; -o-min-width: 310px; -webkit-min-width: 310px; min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
        <div id="getIrregularEntiriesByShipmentMethodReportChart" style="-moz-min-width: 310px; -ms-min-width: 310px; -o-min-width: 310px; -webkit-min-width: 310px; min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-md-12" style="margin-bottom: 10px">
        <div id="getWeeklyIrregularEntiriesReportChart" style="-moz-min-width: 310px; -ms-min-width: 310px; -o-min-width: 310px; -webkit-min-width: 310px; min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

