USE [master]
GO
/****** Object:  Database [PREDICTION_APPLICATION]    Script Date: 15.01.2018 22:53:52 ******/
CREATE DATABASE [PREDICTION_APPLICATION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PREDICTION_APPLICATION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.PAYFLEX_BCS_DEV\MSSQL\DATA\PREDICTION_APPLICATION.mdf' , SIZE = 95232KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PREDICTION_APPLICATION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.PAYFLEX_BCS_DEV\MSSQL\DATA\PREDICTION_APPLICATION_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PREDICTION_APPLICATION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PREDICTION_APPLICATION]
GO
/****** Object:  Schema [COLLECTION]    Script Date: 15.01.2018 22:53:52 ******/
CREATE SCHEMA [COLLECTION]
GO
/****** Object:  Schema [MAP]    Script Date: 15.01.2018 22:53:52 ******/
CREATE SCHEMA [MAP]
GO
/****** Object:  Schema [TRANSACTION]    Script Date: 15.01.2018 22:53:52 ******/
CREATE SCHEMA [TRANSACTION]
GO
/****** Object:  Table [COLLECTION].[CUSTOMER]    Script Date: 15.01.2018 22:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[CUSTOMER](
	[ID] [uniqueidentifier] NOT NULL,
	[Age] [tinyint] NULL,
	[GenderType] [bit] NULL,
	[Latitude] [decimal](8, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[LocationGroupId] [int] NULL,
	[VisitCountInYear] [int] NOT NULL CONSTRAINT [DF_CUSTOMER_VisitCount]  DEFAULT ((0)),
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [COLLECTION].[FOOD]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[FOOD](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [COLLECTION].[FOOD_RECIPE]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[FOOD_RECIPE](
	[FoodID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductAmount] [decimal](9, 4) NOT NULL,
 CONSTRAINT [PK_FoodRecipe_1] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [COLLECTION].[PRODUCT]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[PRODUCT](
	[ID] [uniqueidentifier] NOT NULL,
	[SupplierID] [uniqueidentifier] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ExpectedUnitsInStock] [int] NOT NULL,
	[UnitPrice] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [COLLECTION].[RESTAURANT]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[RESTAURANT](
	[ID] [uniqueidentifier] NOT NULL,
	[Latitude] [decimal](8, 6) NOT NULL,
	[Longitude] [decimal](9, 6) NOT NULL,
	[SupplyDayOfWeek] [tinyint] NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [COLLECTION].[STAFF]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[STAFF](
	[ID] [uniqueidentifier] NOT NULL,
	[WorkplaceID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [COLLECTION].[SUPPLIER]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[SUPPLIER](
	[ID] [uniqueidentifier] NOT NULL,
	[Latitude] [decimal](8, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[SatisfactionIndex] [decimal](3, 2) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [COLLECTION].[TABLE]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COLLECTION].[TABLE](
	[ID] [uniqueidentifier] NOT NULL,
	[RestaurantID] [uniqueidentifier] NULL,
	[MaxCapacity] [tinyint] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MAP].[RESTAURANT_PRODUCT_MAPPING]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAP].[RESTAURANT_PRODUCT_MAPPING](
	[RestaurantID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[ExpectedStockAmount] [decimal](9, 4) NULL,
 CONSTRAINT [PK_RESTAURANT_PRODUCT_MAPPING] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [TRANSACTION].[CUSTOMER_VISIT_TRANSACTION]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANSACTION].[CUSTOMER_VISIT_TRANSACTION](
	[ID] [uniqueidentifier] NOT NULL,
	[ReservationID] [uniqueidentifier] NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[DateIn] [datetime] NULL,
	[DateOut] [datetime] NULL,
	[SatisfactionFeedback] [nvarchar](max) NULL,
 CONSTRAINT [PK_CUSTOMER_VISIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [TRANSACTION].[PRODUCT_STOCK_TRANSACTION]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANSACTION].[PRODUCT_STOCK_TRANSACTION](
	[RestaurantID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[TransactionAmount] [float] NOT NULL,
	[RemainingAmount] [float] NOT NULL,
	[CreatedDatetime] [datetime] NOT NULL,
 CONSTRAINT [PK_PRODUCT_STOCK_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [TRANSACTION].[RESERVATION]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANSACTION].[RESERVATION](
	[ReservationID] [uniqueidentifier] NOT NULL,
	[ReservationDate] [datetime] NULL,
	[TableID] [uniqueidentifier] NULL,
	[ReservedCustomerID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RESERVATION] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [TRANSACTION].[SELL_TRANSACTION]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANSACTION].[SELL_TRANSACTION](
	[ID] [uniqueidentifier] NOT NULL,
	[ReservationID] [uniqueidentifier] NOT NULL,
	[StaffID] [uniqueidentifier] NULL,
	[FoodID] [uniqueidentifier] NOT NULL,
	[OrderedAmount] [float] NULL,
	[DeliveredAmount] [float] NULL,
	[OrderDateTime] [datetime] NULL,
	[IsAnomaly] [bit] NULL,
 CONSTRAINT [PK_SELL_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [TRANSACTION].[SUPPLY_TRANSACTION]    Script Date: 15.01.2018 22:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANSACTION].[SUPPLY_TRANSACTION](
	[ID] [uniqueidentifier] NOT NULL,
	[StaffID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[RestaurantID] [uniqueidentifier] NULL,
	[Amount] [float] NULL,
	[ExpirationDate] [date] NULL,
	[OrderDateTime] [datetime] NULL,
	[ReceivedDateTime] [datetime] NULL,
 CONSTRAINT [PK_Supply] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [COLLECTION].[FOOD_RECIPE]  WITH CHECK ADD  CONSTRAINT [FK_FOOD_RECIPE_FOOD] FOREIGN KEY([FoodID])
REFERENCES [COLLECTION].[FOOD] ([ID])
GO
ALTER TABLE [COLLECTION].[FOOD_RECIPE] CHECK CONSTRAINT [FK_FOOD_RECIPE_FOOD]
GO
ALTER TABLE [COLLECTION].[FOOD_RECIPE]  WITH CHECK ADD  CONSTRAINT [FK_FOOD_RECIPE_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [COLLECTION].[PRODUCT] ([ID])
GO
ALTER TABLE [COLLECTION].[FOOD_RECIPE] CHECK CONSTRAINT [FK_FOOD_RECIPE_PRODUCT]
GO
ALTER TABLE [COLLECTION].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_SUPPLIER] FOREIGN KEY([SupplierID])
REFERENCES [COLLECTION].[SUPPLIER] ([ID])
GO
ALTER TABLE [COLLECTION].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_SUPPLIER]
GO
ALTER TABLE [COLLECTION].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_RESTAURANT] FOREIGN KEY([WorkplaceID])
REFERENCES [COLLECTION].[RESTAURANT] ([ID])
GO
ALTER TABLE [COLLECTION].[STAFF] CHECK CONSTRAINT [FK_STAFF_RESTAURANT]
GO
ALTER TABLE [COLLECTION].[TABLE]  WITH CHECK ADD  CONSTRAINT [FK_TABLE_RESTAURANT] FOREIGN KEY([RestaurantID])
REFERENCES [COLLECTION].[RESTAURANT] ([ID])
GO
ALTER TABLE [COLLECTION].[TABLE] CHECK CONSTRAINT [FK_TABLE_RESTAURANT]
GO
ALTER TABLE [MAP].[RESTAURANT_PRODUCT_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANT_PRODUCT_MAPPING_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [COLLECTION].[PRODUCT] ([ID])
GO
ALTER TABLE [MAP].[RESTAURANT_PRODUCT_MAPPING] CHECK CONSTRAINT [FK_RESTAURANT_PRODUCT_MAPPING_PRODUCT]
GO
ALTER TABLE [MAP].[RESTAURANT_PRODUCT_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANT_PRODUCT_MAPPING_RESTAURANT] FOREIGN KEY([RestaurantID])
REFERENCES [COLLECTION].[RESTAURANT] ([ID])
GO
ALTER TABLE [MAP].[RESTAURANT_PRODUCT_MAPPING] CHECK CONSTRAINT [FK_RESTAURANT_PRODUCT_MAPPING_RESTAURANT]
GO
ALTER TABLE [TRANSACTION].[CUSTOMER_VISIT_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_VISIT_TRANSACTION_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [COLLECTION].[CUSTOMER] ([ID])
GO
ALTER TABLE [TRANSACTION].[CUSTOMER_VISIT_TRANSACTION] CHECK CONSTRAINT [FK_CUSTOMER_VISIT_TRANSACTION_CUSTOMER]
GO
ALTER TABLE [TRANSACTION].[CUSTOMER_VISIT_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_VISIT_TRANSACTION_RESERVATION] FOREIGN KEY([ReservationID])
REFERENCES [TRANSACTION].[RESERVATION] ([ReservationID])
GO
ALTER TABLE [TRANSACTION].[CUSTOMER_VISIT_TRANSACTION] CHECK CONSTRAINT [FK_CUSTOMER_VISIT_TRANSACTION_RESERVATION]
GO
ALTER TABLE [TRANSACTION].[PRODUCT_STOCK_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_STOCK_TRANSACTION_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [COLLECTION].[PRODUCT] ([ID])
GO
ALTER TABLE [TRANSACTION].[PRODUCT_STOCK_TRANSACTION] CHECK CONSTRAINT [FK_PRODUCT_STOCK_TRANSACTION_PRODUCT]
GO
ALTER TABLE [TRANSACTION].[PRODUCT_STOCK_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_STOCK_TRANSACTION_RESTAURANT] FOREIGN KEY([RestaurantID])
REFERENCES [COLLECTION].[RESTAURANT] ([ID])
GO
ALTER TABLE [TRANSACTION].[PRODUCT_STOCK_TRANSACTION] CHECK CONSTRAINT [FK_PRODUCT_STOCK_TRANSACTION_RESTAURANT]
GO
ALTER TABLE [TRANSACTION].[RESERVATION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVATION_CUSTOMER] FOREIGN KEY([ReservedCustomerID])
REFERENCES [COLLECTION].[CUSTOMER] ([ID])
GO
ALTER TABLE [TRANSACTION].[RESERVATION] CHECK CONSTRAINT [FK_RESERVATION_CUSTOMER]
GO
ALTER TABLE [TRANSACTION].[RESERVATION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVATION_TABLE] FOREIGN KEY([TableID])
REFERENCES [COLLECTION].[TABLE] ([ID])
GO
ALTER TABLE [TRANSACTION].[RESERVATION] CHECK CONSTRAINT [FK_RESERVATION_TABLE]
GO
ALTER TABLE [TRANSACTION].[SELL_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_FOOD] FOREIGN KEY([FoodID])
REFERENCES [COLLECTION].[FOOD] ([ID])
GO
ALTER TABLE [TRANSACTION].[SELL_TRANSACTION] CHECK CONSTRAINT [FK_ORDER_DETAIL_FOOD]
GO
ALTER TABLE [TRANSACTION].[SELL_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_SELL_TRANSACTION_RESERVATION] FOREIGN KEY([ReservationID])
REFERENCES [TRANSACTION].[RESERVATION] ([ReservationID])
GO
ALTER TABLE [TRANSACTION].[SELL_TRANSACTION] CHECK CONSTRAINT [FK_SELL_TRANSACTION_RESERVATION]
GO
ALTER TABLE [TRANSACTION].[SELL_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_SELL_TRANSACTION_STAFF] FOREIGN KEY([StaffID])
REFERENCES [COLLECTION].[STAFF] ([ID])
GO
ALTER TABLE [TRANSACTION].[SELL_TRANSACTION] CHECK CONSTRAINT [FK_SELL_TRANSACTION_STAFF]
GO
ALTER TABLE [TRANSACTION].[SUPPLY_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLY_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [COLLECTION].[PRODUCT] ([ID])
GO
ALTER TABLE [TRANSACTION].[SUPPLY_TRANSACTION] CHECK CONSTRAINT [FK_SUPPLY_PRODUCT]
GO
ALTER TABLE [TRANSACTION].[SUPPLY_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLY_RESTAURANT] FOREIGN KEY([RestaurantID])
REFERENCES [COLLECTION].[RESTAURANT] ([ID])
GO
ALTER TABLE [TRANSACTION].[SUPPLY_TRANSACTION] CHECK CONSTRAINT [FK_SUPPLY_RESTAURANT]
GO
ALTER TABLE [TRANSACTION].[SUPPLY_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLY_STAFF] FOREIGN KEY([StaffID])
REFERENCES [COLLECTION].[STAFF] ([ID])
GO
ALTER TABLE [TRANSACTION].[SUPPLY_TRANSACTION] CHECK CONSTRAINT [FK_SUPPLY_STAFF]
GO
USE [master]
GO
